{% extends "core/base.html" %}
{% load i18n %}
{% block content %}

  {% if form.errors %}
      <p style="color:grey; text-align:center;">Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p style="color:grey; text-align:center;">Your account doesn't have access to this page. To proceed,
          please login with an account that has access.</p>
    {% else %}
        <p style="color:grey; text-align:center;">Please login to see this page.</p>
    {% endif %}
  {% endif %}
  <div class="cardForm">
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <table>
        <h1 style="color:#154682; text-align:center;">Login</h1>
        <tr>
          <td>{{ form.username.label_tag }}</td>
          <td>{{ form.username }}</td>
        </tr>
        <tr>
          <td>{{ form.password.label_tag }}</td>
          <td>{{ form.password }}</td>
        </tr>
      </table>
      <input type="submit" class="loginButton" value="login" />
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
    
  </div>
{% endblock %}