{% extends "core/base.html" %}

{% block content %}

  {% if form.errors %}
    <p style="color:grey; text-align:center;">Please try again.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p style="color:grey; text-align:center;">Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p style="color:grey; text-align:center;">Please login to see this page.</p>
    {% endif %}
  {% endif %}
  <div class="cardForm">
  <form method="post">
    {% csrf_token %}
    <h1 style="color:#154682; text-align:center;">Sign up</h1>
    <table>
      {% for field in form %}

        <tr><td>
          {% if 'confirmation' in field.label_tag %}
            Confirm :
          {% else %}
            {{ field.label_tag }}
          {% endif %}
        {{ field }}</td>
        </tr>
        <tr>
          <td>
          {% for error in field.errors %}
          <p style="color: red; text-align:center;">{{ error }}</p>
        {% endfor %}</td>
        </tr>
        
      {% endfor %}

    <tr><td><input type="submit" class="loginButton" value="Sign up" /></td></tr>

    </table>
  </form>
  </div>
{% endblock %}